<html class='h-full bg-stone-50'>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://rsms.me/inter/inter.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
